/* General */

body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
ul {
    list-style-type: none;
    padding-left: 0;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color:#0065FC;
}
.active {
    color:#0065FC;
    border-top: 2px solid #0065FC;
}
article, figure {
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}
.blueStar {
    color:#0065FC;
    font-size: 80%;
}
.greyStar {
    color:#d9d9d9;
    font-size: 80%;
}
.spaceStars {
    word-spacing: -3px;
}

/* Header */

header {
    margin: 0 50px;
    padding-top: 26px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav img {
    margin: 15px;
    width: 96px;
}
nav ul {
    display: flex;
}
nav a {
    padding: 40px 25px;
}
nav a:hover {
    border-top: 2px solid #0065FC;
}

@media screen and (max-width: 767px)
{
    header {
        margin: 0;
    }
    nav {
       flex-direction: column;
       align-items: center; 
    }
    nav img {
        margin: 0 0 30px;
    }
    nav a {
        border-top: 0;
        padding: 0;
        font-size: 18px;
    }
    .active {
        border-top: 0;
    }
    nav a:hover {
        border-top: 0;
    }
    nav ul {
        width: 100%;
        margin: 0;
    }
    nav li {
        width: 50%;
        text-align: center;
        padding-bottom: 10px;
    }
    nav li:first-child {
        border-bottom: 3px solid #0065FC;
    }
    nav li:last-child {
        border-bottom: 3px solid #F2F2F2;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    header {
        margin: 0 25px;
    }
}

/* Section searchCity */

#searchCity {
    margin: 0 50px 30px 50px;
}
#searchCity h2 {
    margin-bottom: 10px;
}
#searchCity > p {
    margin-top: 10px;
} 
#searchCity form {
    display: flex;
    height: 50px;
    margin-bottom: 30px;
}
#searchCity form input, #searchCity form button {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 16px;
}
#searchCity form > i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background-color:#F2F2F2;
    font-size: 120%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#searchCity form input {
    width: 230px;
    border: 1px solid #F2F2F2;
    border-right: none;
    padding: 0 0 0 15px;
}
#searchCity form button {
    width: 130px;
    color: white;
    background-color: #0065FC;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 0;
}
#searchCity form button::before {
    content: "Rechercher";
}
#searchCity form button i::before {
    content: none;
}
#filters {
    display: flex;
    margin-bottom: 30px;
    align-items: baseline;
}
#filters div {
    display: flex;
}
#filters h3 {
    margin-right: 25px;
}
#filters > div {
    flex-wrap: wrap;
    gap: 25px;
}
#filters a {
    display: flex;
    align-items: center;
    font-weight: bold;
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    border-left: none;
    padding-right: 20px;
}
#searchCity .iconFilters {
    display: flex;
    justify-content: center;
    color:#0065FC;
    font-size: 125%;
    width: 50px;
    height: 50px;
    background-color: #DEEBFF;
    border-radius: 50%;
    align-items: center;
    margin-right: 12px;
}
#available {
    display: flex;
    align-items: center;
}
#infoIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    border-radius: 50%;
    height: 20px;
    min-width: 20px;
    font-family: 'Rokkitt', 'serif';
}
#available p {
    padding-left: 10px;
}

@media screen and (max-width: 767px)
{
    #searchCity {
        margin: 30px 20px;
    }
    #searchCity h2 {
        margin: 0;
    }
    #searchCity form {
        margin: 30px 0;
    }
    #searchCity form input {
        margin-right: -15px;
        width: 100%;
        padding-left: 3%;
    }
    #searchCity form button {
        width: auto;
        min-width: 50px;
        border-radius: 15px;
    }
    #searchCity form button::before {
        content: none;
    }
    #searchCity form button i::before {
        content: "\f002";
    }
    #filters {
        flex-wrap: wrap;
    }
    #filters > h3 {
        margin: 0 0 15px;
    }
    #filters > div {
        gap: 13px;
    }
    #available {
        align-items: baseline;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #searchCity {
        margin: 0 25px 30px 25px;
    }
    #filters {
        flex-direction: column;
    }
}

/* Main */

main {
    display: flex;
    margin: 0 50px;
}
main section {
    background-color: #F2F2F2;
    border-radius: 20px;
}
main h2 {
    margin-top: 0;
}
main h3 {
    font-size: 18px;
}
@media screen and (max-width: 767px)
{
    main {
        margin: 0;
        flex-direction: column;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    main {
        flex-direction: column;
        margin: 0 25px;
    }
}

/* Section topLodging */

#topLodging {
    display: flex;
    flex-direction: column;
    padding: 40px;
    margin-left: 40px;
    flex: 1;
}
#topLodging > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.fa-chart-line {
    font-size: 150%;
}
#topLodging article {
    min-width: 274px;
    height: 144px;
    margin-bottom: 30px;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    overflow: hidden;
    display: flex;
}x
#topLodging a:last-child article {
    margin-bottom: 0;
}
.photoTopLogding {
    width: 40%;
    min-width: 40%;
    object-fit: cover;
}
.descTopLodging {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
}
#topLodging h3 {
    margin: 0;
}
#topLodging p {
    margin: 0;
    padding-top: 8px;
}
@media screen and (max-width: 767px)
{
    main section {
        border-radius: 0;
    }
    #topLodging {
        order: 1;
        margin-left: 0;
        padding: 40px 20px;
    }
    #topLodging article {
        min-width: auto;
        height: 155px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #topLodging {
        order: 1;
        margin: 0 0 20px;
        padding: 40px 20px;
    }
    #topLodging > div:last-child {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
    #topLodging article {
        min-width: auto;
        max-width: 250px;
        height: 180px;    
        margin-bottom: 0;
    }
}

/* Section Lodging */

#lodging {
    padding: 40px;
    flex: 2;
}
#lodging article {
    background-color: white;
    min-width: 180px;
    width: 30%;
    margin-bottom: 30px;
    border: 5px solid white;
    border-radius: 15px;
    overflow: hidden;
}
#lodging p:last-child {
    font-weight: bold;
}
#galleryLodging {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 20px;
}
.photoLodging {
    height: 114px;
    width: 100%;
    object-fit: cover;
}
.descLodging h3, .descLodging p, .descLodging div {
    margin: 8px;
}
#lodging > a {
    font-size: 120%;
    font-weight: bold;
}
@media screen and (max-width: 767px)
{
    #lodging {
        order: 2;
        background-color: white;
        padding: 40px 20px;
    }
    #lodging article {
        width: 100%;
    }
    #galleryLodging {
        padding-bottom: 0;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #lodging {
        order: 2;
        padding: 40px 20px;
    }
    #galleryLodging {
        padding-bottom: 0;
    }
}

/* Section Activity */

#activity {
    margin: 50px;
}
#activity > div {
    display: flex;
    max-height: 485px;
}
#activity div > div {
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}
#activity div > div:last-child {
    margin-right: 0;
}
#activity a {
    display: flex;
    flex-direction: column;
    height: 100%;
}
#activity figure {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 20px;
    overflow: hidden;
}
#port {
    flex: 1;
}
#fort {
    flex: 3;
}
#island {
    flex: 2;
}
#parknational {
    flex: 1;
}
#church {
    flex: 9;
}
#park {
    flex: 10;
}
#activity img {
    width: 100%;
    flex-grow: 1;
    object-fit: cover;
    overflow: hidden;
}
#activity figcaption {
    margin: 20px 0;
    font-weight: bold;
    font-size: 19px;
    padding-left: 15px;
}
@media screen and (max-width: 767px)
{
    #activity {
        margin: 10px 20px 30px 20px;
    }
    #activity h2 {
        margin: 10px 0 25px;
    }
    #activity > div {
        flex-direction: column;
        max-height: none;
    }
    #activity div > div {
        width: 100%;
        margin-right: 0;
    }
    #activity figure {
        margin: 0;
        max-height: 190px;
        margin-bottom: 20px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    #activity {
        margin: 25px;
    }
    #activity div > div {
        margin-right: 20px;
    }
}
/* Footer */

footer {
    background-color: #F2F2F2;
    display: flex;
    padding: 40px 50px 50px 50px;
}
footer div {
    margin-right: auto;
}
footer h3 {
    font-size: 21px;
}
footer li {
    margin-bottom: 10px;
    font-size: 18px;
}
@media screen and (max-width: 767px)
{
    footer {
        flex-direction: column;
        padding: 20px 40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
    footer {
        padding: 20px 25px 50px 25px;
    }
}